* {
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.inputGroup {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.inputGroup label{
    align-self: stretch;
    flex-grow: 1;
    background: red;
}

.inputGroup input {
    height: 30px;
    width: 70%;
}

form {
    width: 650px;
}

fieldset.group:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 10px;
}